@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shantell Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
html, body, #root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;

}
h1,
section,
p,
span,
svg{
  transition: background-color 0.5s, color 0.5s;
}

.canvas{
  position: fixed !important;
  inset: 0 !important;
}
:root {
  width: auto;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

   /* Light Theme Variables */
   --color-text-light: #333332;
   --color-background-light: #FAF4E5;
   --color-pink-light: #e5a1aa;
   --color-green-light: #7AD0AC;
   --color-blue-light: #8395CD;
   --color-red-ligth : #db929d;
   --color-white-ligth: #FFFFFF;
 
 
   /* Dark Theme Variables */
   --color-text-dark: #FAF4E5;
   --color-background-dark: #8395CD;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
button:hover {
  border-color: #646cff;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    padding-left: 80px;
  }
}
#cl2-about{
  visibility: hidden;

}
#cl3-about{
  visibility: hidden;
}

.firts-view{
  position: relative;
  top: 1320px;
  left: -70px;
  width: 1700px;
  transform: translateY(-50%);
  right: 100px;
}

.text-main{
  position: relative;
  font-size: 60px;
  color: white;
  line-height: 1;
  text-align: justify;
  text-justify: inter-word;
}

.text-main2{
  position: absolute;
  font-size: 50px;
  line-height: 1;
  top:150px;
  text-align: justify;
  text-justify: inter-word;
}
.nav ul button:hover{
  text-decoration: none;
  color: #B64926;
}
.nav ul button{
  background: none;
  color: white;
  cursor: pointer;
  font-size: 60px;
  display: inline;
  border: none
}
.head-skills{
  position: relative;
  top: 650px;
  left: -70px;
 
}

.gg{
  display: flex;
  height: 14px;
  margin-bottom: 11px;
  
}

.gg-symbol{
  height: 14px;
  width: 14px;
  background: #969696;
  margin-right: 14px;
}
.gg-symbol--rect{
  transform-origin: 0 0;
}
.gg-symbol--5 {
  background: linear-gradient(90deg, rgb(242, 159, 255)0%,rgb(124, 153, 255)100%);
  opacity: 1;
  transform: translate(0px,0px) ;
  width: 140px;
}
.gg-symbol--3{
  width: 84px;
}
.gg-symbol--disc{
  border-radius: 14px;
}

.gg-symbol--8{
  background: linear-gradient(90deg, rgb(255, 218, 122) 0%, rgb(255, 105, 105) 100%);
  opacity: 1; 
  transform: translate(0px, 0px);
  width: 224px;

}
.gg-symbol--31{
  background: linear-gradient(90deg, rgb(255, 218, 122) 0%, rgb(255, 105, 105) 100%);
  opacity: 1;
  transform: translate(0px, 0px);
  width: 84px;
}
.gg-symbol--2{
  width: 56px;
}
.gg-symbol--4{
  width: 112px;
  background: linear-gradient(90deg, rgb(100, 145, 214) 0%, rgb(67, 240, 199) 100%);
  opacity: 1;
  transform: translate(0px, 0px);
}
.gg-symbol--9{
  background: linear-gradient(90deg, rgb(100, 145, 214) 0%, rgb(67, 240, 199) 100%);
  opacity: 1;
  opacity: 1;
  transform: translate(0px, 0px);
  width: 252px;
}

.skills-list{
  position: relative;
  left: -400px;
  padding-top: 0px;
  height: 40px;
  top: -2100px;
  
}

 .fa {
  padding: 0px;
  font-size: 10px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  
}


/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  /* background: #3B5998; */
  color: #fafafa;
}
.fa-linkedin {
  /* background: #007bb5; */
  color: #fafafa;
  font-size: 90px;
  padding: 0px;
}

.fa-google {
  /* background: #dd4b39; */
  color: #fafafa;
  font-size: 90px;
  padding: 0px;
}
.fa-telegram {
  /* background: #dd4b39; */
  color: #fafafa;
  font-size: 90px;
  padding: 0px;
}
.fa-file{
  color: #fafafa;
  font-size: 90px;
  padding: 0px;
}

.fa-instagram {
  /* background: #125688; */
  color: #fafafa;
  font-size: 90px;
}

.fa-twitter {
 /*  background: #55ACEE; */
  color: #fafafa;
  font-size: 90px;
}

.fa-github{
  color:  #fafafa;
  font-size: 90px;
}

.second-view{
  top: -350px;
  position:relative;
  left: -80px;
  right: 100px;
}

.text-main2{
  position:flex;
  top: 400px;
  color: white;
  font-size: 50px;
  width: 50%;
  justify-content: left;
}
.cloud{
  position:relative;
  top: -550px;
  left: 65%;
  font-size: 30px;
  width: 25%;
}


.cloud div{
  line-height: 0px;
  font-size: 30px;
  padding: 13px;
  padding-top: 50px;
  color: white;
  line-height: 5px;
}
/* base font color for all words */
.cloud > div {
  color: #022f40;
}
.sal{
  color: white;
  font-size: 80px;
  text-align: start;
 }
 .three-view{
  position: relative;
  top:-1660px;
  left: 0px;
  right: 0px;
}
.cardsEx{
  position: relative;
  right: 1%;
  top: -1000px;
  left: 54%;
  width: 700px;
  background: gray;
}
.cardsEx2{
  position: relative;
  right: 1%;
  top: -470px;
  left: 0%;
  width: 700px;
  background: gray;
  
}
.cardsEx3{
  position: relative;
  right: 1%;
  top: 200px;
  left: 54%;
  width: 700px;
  background: gray;
}
.un{
  font-size: 40px;
  color: #7AD0AC;
  padding-top: 10px;
 
}
.ubP{
  color: #FAF4E5;
  padding: 25px;
  font-size: 30px;
  line-height: 1;
  text-align: justify;
  text-justify: inter-word;
}
.BackAno{
  position: absolute;
  top: 680px;
  left: 0px;
  bottom: 50px;
  color: #FAF4E5;
  cursor: pointer;
  z-index: 100;
  height: 80px;
}
.BackAno:hover{
  color: #B64926;
}
.annotation{
  cursor: pointer;
}
.lata1{
  position: relative;
  width: 100px;
  height: 100px;
  font-family: 'Shantell Sans', sans-serif;
}
.Conten{
  left: -410px;
  position: relative;
  width: 810px;
  background: #08d088;
  height: 860px;
  top: -430px;
  border-radius: 24px;
}
.card1{
  position: relative;
  background: #91f9d4;
  width: 150px;
  height: 230px;
  border-radius: 15px;
  left: 5%;
  top: 10%;
  cursor: pointer;
}
.card2{
  position: absolute;
  background: #91f9d4;
  width: 150px;
  height: 230px;
  border-radius: 15px;
  left: 28%;
  top: 10%;
  cursor: pointer;
}
.card3{
  position: absolute;
  background: #91f9d4;
  width: 150px;
  height: 230px;
  border-radius: 15px;
  left: 51%;
  top: 10%;
  cursor: pointer;
}
.card4{
  position: absolute;
  background: #91f9d4;
  width: 150px;
  height: 230px;
  border-radius: 15px;
  left: 75%;
  top: 10%;
  cursor: pointer;
}
.card5{
  position: absolute;
  background: #91f9d4;
  width: 150px;
  height: 230px;
  border-radius: 15px;
  left: 5%;
  top: 43%;
  cursor: pointer;
}
.card6{
  position: absolute;
  background: #91f9d4;
  width: 150px;
  height: 230px;
  border-radius: 15px;
  left: 28%;
  top: 43%;
  cursor: pointer;
}
.card7{
  position: absolute;
  background: #91f9d4;
  width: 150px;
  height: 230px;
  border-radius: 15px;
  left: 51%;
  top: 43%;
  cursor: pointer;
}
.card8{
  position: absolute;
  background: #91f9d4;
  width: 150px;
  height: 230px;
  border-radius: 15px;
  left: 75%;
  top: 43%;
  cursor: pointer;
}
.intercard{
  position: relative;
  top: 16px;
}
.aviso{
  position: relative;
  background:#747bff;
  width: 350px;
  height: 170px;
  top: 46.5%;
  left: 52%;
  border-radius: 16px;
}
.intercard2{
  position: relative;
  top: 16px;
}
.Back{
  position: relative;
  background:#91f9d4;
  width: 350px;
  height: 170px;
  top: 26.7%;
  left: 5%;
  border-radius: 16px;
  cursor: pointer;
}
.present{
  position:absolute;
  background:#91f9d4;
  width: 550px;
  height: 230px;
  top: 10%;
  left: 227px;
  border-radius: 15px;
  
}
.preImg{
  position: relative;
  width: 520px;
  height: 200px;
  top: 15px;
  left: 0px;
}
.textPres{
  position: absolute;
  background:#91f9d4 ;
  width: 735px;
  top: 370px;
  height: 230px;
  left: 35px;
  border-radius: 15px;
}
.textDesP{
  position: relative;
  text-align: justify;
  text-justify: inter-word;
  padding: 20px;
  top: -34px;
  font-size: 13px;
}
.conteInfo{
  opacity: 0;
}
.cardinfo{
  position: absolute;
  background: #91f9d4;
  width: 150px;
  height: 230px;
  border-radius: 15px;
  left: 5%;
  top: 10%;
  
}
.intercardinfo{
  position: relative;
  top: 16px;
}
.texSki{
  position: relative;
  top: -60px;
  left: 20px;
  background: black;
  color: #f9f9f9;
  width: 45px;
}
.titleDes{
  font-size: 30px;
  font-family: 'Shantell Sans', sans-serif;
}
.skillRig{
  position: absolute;
  top: 75%;
  left: 12%;
  font-family:  'Mynerve', sans-serif;

}
.GoB{
  position:absolute;
  font-family:  'Mynerve', sans-serif;
  font-size: 70px;
  left: 73px;
  top: -26px;
  visibility: hidden;
}
.GoB:hover{
  color: #B64926;
}
.frontCard{
  font-family: 'Shantell Sans', sans-serif;

}
.infoBo{
  position: absolute;
  color: #f9f9f9;
  font-family:  'Shantell Sans', sans-serif;
  font-size: 36px;
  line-height: 1;
  top: -10px;
  left: 30px;
}

.BackProyec{
  position: absolute;
  top: 250px;
  left: -355px;
  font-size: 48px;
  bottom: 50px;
  cursor: pointer;
  z-index: 100;
  width: 350px;
  height: 120px;

  
  font-family:  'Mynerve', sans-serif;
}
.BackProyec:hover{
  color: #B64926;
}
.flecha{
  position: absolute;
  width: 50px;
  height: 50px;
  left: -60px;
  top: -12px;
}


.preloader{
  background-color: var(--color-background-light);
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 1;
  z-index: 99999999999999999;
  top: 0px;
}
.Start{
  background-color: var(--color-background-light);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: 99999999999999999;
  
}
.carga:hover{
  color: #646cff;
  
}

.preloader-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px;
  background-color: var(--color-pink-light);
  animation: load 1s ease-in-out infinite;
}

.circle:nth-child(2){
  animation-delay: 0.1s;
}

.circle:nth-child(3){
  animation-delay: 0.2s;
}

@keyframes load {
  0% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(-12px)
  }

  40% {
    transform: translateY(0)
  }
  
}